*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --green: #7DB900;
    --dimgreen: #5d9900;
    --white: #eeeeee;
    --black: #101010;
    /* --green: #C880B7; */
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--white);
    box-sizing: border-box;
    font-size: 1.8rem;
}

.form a {
    color: var(--green);
}

a:hover {
    color: var(--dimgreen);
}

button:hover {
    background-color: var(--dimgreen);
}

button:active {
    transform: translateY(1px);
}

.logo:hover {
    color: var(--green);
}

p,
a,
li {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
}

h1,
h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--green);
}

.italic {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: var(--green);
}

.login {
    padding: 0.5rem 2rem;
    font-family: "Libre Baskerville", serif;
}

.logo {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2rem;
    padding: 1rem 1.5rem;
}

.hero {
    padding: 5vh 10vw 0 15vw;
    padding: 20vh 10vw 20vh 15vw;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.right,
.form,
.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.right {
    width: 40%;
}



.form input {
    margin-bottom: 0.5rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
}

.form button {
    width: 20rem;
}


.clairo {
    background-color: var(--green);
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clairo p {
    color: var(--white);
    writing-mode: vertical-rl;
    font-size: 6rem;
    transform: translateY(1rem);
}

.hero h1 {
    font-size: 3.2rem;
}

.hero * {
    margin-bottom: 0.5rem
}

.hero p {
    margin-left: 0.1rem;
}

.login-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

div {
    border-radius: 0.5rem;

}

button {
    width: 12rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    background-color: var(--green);
    border: none;
    cursor: pointer;
    color: var(--white);
}